:root{
    --primary-color: #90e3e6;
    --textColor: rgb(221, 221, 221);
    --background: #212121;
    --background-light: #292929;
    --background-transparent: #00000073;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: var(--background-light);
    font-family: opensans, sans-serif;
}
html{
    overflow-x: hidden;
    height: 100vh;
}

.contact-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 20px;
    font-size: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: var(--background-transparent);
    backdrop-filter: blur(10px);
}
i{
    color: var(--primary-color);
}

footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
    background-color: var(--background);
    font-weight: 100;
}

.left-bar{
    width: 400px;
    
}
.right{
    overflow-y: scroll;
}
/*ajustando o scroll para mobile*/
@media (min-width: 1401px){
    #right{
        height: 100vh;
    }
}
/*=============================*/




/*======================NAVBAR======================*/

.container{
    background-image: url(../img/backgound.png);
    background-position:center;
    position: relative;
    color: rgb(221, 221, 221);
}
.backgroundColor{
    height: 100vh;
    background-color: #00000073;
    position: relative;
    padding: 10px;
}
a{
    text-decoration: none;
}
section{
    overflow: hidden;
}
#logo{
    color: var(--textColor);
    font-size: 2rem;
    font-family: opensansbold;
    letter-spacing: -4px;
}
.perfilContainer{
    width: 100%;
    height: 79vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    
}
.imgPerfil{
    background-image: url(../img/perfil.jpeg);
    background-position: top;
    background-size:cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
}
.name{
    font-family: opensansbold;
    font-size: 45px;
    color: var(--primary-color);
    text-align: center;
}
.desc{
    color: rgb(221, 221, 221);
    font-size: 20px;
}
.btnContainer{
    margin-top: 15px;
}
.btnContainer button{
    padding: 13px 25px;
    font-size: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: #25252541;
    color: var(--primary-color);
    transition: 300ms;

    display: flex;
    align-items: center;
    cursor: pointer;

}
.btnContainer button:hover{
    padding: 13px 30px;
    background-color: var(--background-transparent);
}
.btnContainer img{
    width: 30px;
}
.btnContainer h5{
    padding: 0 10px;
}

/*========================== SECTION 1 ==========================*/

.sobre-mim{
    background-color: var(--background-light);
    padding: 20px 50px !important;
}

.ul-sobre{
    padding-left: 50px;
    font-family: opensans;
    font-weight: lighter;
}
.ul-sobre li{
    padding: 5px 0;
}

.section{
    padding: 40px 50px;
    display: block;
    position: relative;
}
.title{
    position: relative;
}

.titleH2 span{
    background-color: var(--primary-color);
    width: 30%;
    height: 5px;
    left: 0;
    bottom: -10px;
    border-radius: 5px;
    position: absolute;
}
.title h2{
    color: var(--textColor);
    font-size: 50px;
    font-family: opensansbold;
    letter-spacing: -2px;
    margin-bottom: 40px;
}


.sobre{
    color: var(--textColor);
    font-size: 18px;
    margin-bottom: 40px;
}

/*numeros que ficam ao lado da section*/
.number{
    display: flex;
    position: absolute;
    right: 0; 
}
.number h5{
    font-size: 60px;
    color: #707070;
    display: inline-block;
    position: relative;
}
.number span{
    background-color: var(--primary-color);
    position: relative;
    width: 50px;
    height: 5px;
    border-radius: 2px 0px 0px 2px;
    top: 0;
    bottom: 0;
    margin: auto;

}
/*-------------------------------------*/




@media (max-width: 850px){
    .number h5{
        font-size: 40px;
    }
    .number span{
        width: 20px;
    }
    .esquerdo{
        display: none;
    }
    .direita{
        float: unset;
        width: 100%;
    }
    .title{
        line-height: 50px;
    }
    .title span{
        width: 60%;
    }
    .skillsContainer{
        flex-direction: column;
    }
    .frontend{
        width: 100% !important;
    }
    .backend{
        width: 100% !important;
    }
    #cardImg {
        display: flex;
        flex-direction: column !important;
        margin: 10px;
    }
    #textContanierCard {
        margin: 10px !important ;
    }
}
@media (max-width: 500px){

    .cardTextImg{
        display: none  !important;
    }
    #cardTitle{
        font-size: 40px !important;
    }
    .number{
        display: none;
    }
}

/*==========================NETWORK=========================*/

.network-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.network-container .card{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;

    box-shadow: 0 25px 45px rgba(0, 0, 0, .1) ;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(25px);

    box-shadow: 0 0 10px black;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;

    background-color: rgba(175, 175, 175, 0.348);
    color: var(--textColor);

}
.network-container .card:hover{
    box-shadow: 0 10px 30px black;
    transform: translateY(-5px);
}
.card .img img{
    width: 100%;
    height: 200px;
}
.card .card-title, .card .card-description{
    padding: 10px;
}
.card .card-title{
    padding: 0 10px !important;
    font-size: 20px;
}




#spanSec2{
    width: 10%;
}

.skillsContainer{
    display: flex;
    justify-content: space-around;
}
.frontend{
    width: 30%;
}
.backend{
    width: 30%;
}
.subtitle{
    color: var(--textColor);
    font-size: 55px;
    font-family: opensansbold;
}
.strongBlue{
    color: var(--primary-color);
    font-size: 60px;
    font-family: opensansbold;
}





.cardContainer{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    
}
.cardContainer .card{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .1) ;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    background-color: rgba(175, 175, 175, 0.918);
    color: var(--primary-color);
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 105px;
    margin: 5px;
}
.cardContainer .card:hover{
    box-shadow: 0 0 30px black;
    background-color: rgb(221, 221, 221);
}
.cardContainer .card img{
    width: 105px;
    padding: 10px;
}
.cardContainer h5{
    padding: 0 10px;
}

.descriptionSkills{
    box-shadow: 0 0 10px black;
    color: rgb(221, 221, 221);
    border-radius: 10px;
}
.cc2{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.cc2 .card {
    margin: 15px;
    width: 120px;
    height: 120px;

}
.cc2 .card img{
    width: 140px;
    padding: 20px;
}
.cc2 span{
    position: absolute;
    width: 15px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--primary-color);

    
}
.cc2 .span1{
    transform:rotate(45deg);
}
.cc2 .span2{
    transform: rotate(135deg);
}
#cardTitle{
    font-size: 30px;
    font-family: opensansbold;
    padding-bottom: 5px;
    margin-top: 10px;
}

.none{
    display: none;
}


#spanSec3{
    width: 200px;
}

.projectContainer{
    display: flex;

}
.projectCard{
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;

    margin: 30px 0;
    color: rgb(221, 221, 221);
    position: relative;
    box-shadow: -10px 10px 40px black;
    border-radius: 5px;
    transition: 300ms;
}
.projectCard:hover{
    box-shadow: -10px 10px 60px black;
}

.projectCard .img{
    background-position: center;
    background-size:cover;
    width: 40%;
    height: 300px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;

}
.projectCard .img img{
    width: 100%;
}
.projectDescriptionContainer{
    width: 55%;
}
.projectDescriptionContainer .projectTile{
    font-size: 50px;
}


.projectCard .span{
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 300ms;
}
.projectCard .span1{
    width: 60px;
    height: 4px;
    top: 0;
    right: 0;
}
.projectCard .span2{
    width: 4px;
    height: 60px;
    top: 0;
    right: 0;
}
.projectCard .span3{
    width: 60px;
    height: 4px;
    bottom: 0;
    left: 0;
}
.projectCard .span4{
    width: 4px;
    height: 60px;
    bottom: 0;
    left: 0;
}


.projectCard .img .backgroundSpan {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background-color: #90e3e600;
    z-index: 1000;
    border-radius: 2px;
    
    
}

.backSpan1{
    background-color: #90e3e656;
    transition: 500ms;
}
.backSpan2{
    background-color: #90e3e698;
    transition: 800ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectCard:hover .span1{
    width: 70px;
}
.projectCard:hover .span2{
    height: 70px;
}
.projectCard:hover .span3{
    width: 70px;
}
.projectCard:hover .span4{
    height: 70px;
}

.projectCard .img:hover .backgroundSpan{
    top: 0;
    background-color: rgba(0, 0, 0, 0.459);
    
}
.btnContainer .btnVisit{
    border-radius: 50%;
    border: 2px solid rgb(221, 221, 221);
    padding: 0;
    padding: 60px;

}
.btnContainer .btnVisit img{
    width: 70px;
    height: 70px;

}
.btnContainer .btnVisit:hover{
    padding: 0;
    padding: 50px;

}
.projectCard .img:hover .btnVisit{
    border: 2px solid rgb(221, 221, 221);
}
.aviso{
    color: rgb(221, 221, 221);
}
.projectCard .projectDescriptionContainer{

    font-size: 18px;
}

@media (max-width: 800px) {
    .projectCard{
        flex-direction: column-reverse;
        
    }
    .projectCard .img{
        width: 100%;
        margin-bottom: 20px;
    }
    .projectCard .projectDescriptionContainer{
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .sec3{
        padding: 10px;
    }
}
.sec4{

    background-image: url(../img/pexels-daniel-frank-287229.jpg);
    background-position: center;
    background-size: cover;
    min-height: 90vh;

}
.color2{
    padding: 40px 200px;

}
.formContainerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.formContainer{

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .1) ;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    border-radius: 5px;
    background-color: rgba(175, 175, 175, 0.082);
    transition: 500ms;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}
.formDescription{
    width: 47%;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

input, textarea, .formBtn{
    font-size: 20px;
    padding: 5px;
    margin: 5px 0;
    position: relative;
}

input, textarea{
    border: none;
    background-color: transparent;
    width: 100%;
    margin: 10px 0;
    font-family: opensans;


}
textarea{
    max-width: 100%;
    padding: 20px 0;
}
.inputContainer{
    position: relative;

}
.spanInput{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    border-radius: 5px;
}
.inputContainer .labelForm{
    position: absolute;
    top: 10px;
    font-size: 20px;
}
.inputForm{
    transition: 300ms;
    color: rgb(221, 221, 221);
}
.inputForm:focus{
    padding:5px 10px;
    border: none;
    outline: 0;
    box-shadow: 0 0 0 0; 
}
.textarea:focus{
    max-width: 100%;
    padding: 20px 10px;
}
.inputForm::placeholder{
    color: rgb(221, 221, 221);
}

.btnForm button{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.btnForm button img{
    width: 25px;
    height: 30px;
}
.titleContact{
    text-align: center;

}
.titleContact span{
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(even){
    background-color: var(--background);
}

.sec1 .esquerdo{
    display: none !important;
}
.sec1 .direita{
    width: 100%;
}
.sobre{
    max-width: 800px;
}
.sec4{
    overflow: auto !important;
}
@media (max-width: 1400px) {
    body{
        flex-direction: column;
        overflow-y: auto;
    }
    html{
        height: 0px !important;
        min-height: 100vh;
        overflow-y: auto;
    }
    .right{
        min-height: 100vh !important;
        overflow: auto;
    }
    .left-bar{
        width: 100%;
    }
    .section{
        padding: 20px 40px;
    }
    .color2{
        padding: 20px 40px ;
    }
    .formContainerContainer{
        
        width: 100%;
    }
    .formContainer{
        width: 100%;
        flex-direction: column;
    }
    form, .formDescription{
        width: 90%;
    }
    .formDescription{
        margin-bottom: 20px;
    }
    .container{
        min-height: 90vh;
    }
    .sec4{
        min-height: 90vh;
    }
    
} 

@media(max-width: 400px) {
    .color2{
        padding: 20px 10px;
    }
}
    



